{% extends "reviews/base.html" %}
{% block title %}
Your review      
{% endblock %}

{% block content %}
    <form action="/" method="POST">
            {% csrf_token %}
            {% comment %} {% if has_error %}
                <p>The form has errors.</p>
            {% endif %}
            <label for="username">Your name</label>
            <input id="username" name="user_name" type="text"> {% endcomment %}
            
            <!-- We can generate the form fields individually too. For ex: -->
            {% for field in form %}
                <div class="form-control {% if field.errors %} invalid {% endif %}">
                    <!--  Here we add a new class to div in case of errors -->
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                </div> 
            {% endfor %}
            
            <!-- or just send the form completely {{form}}-->
            <button>Send</button>
        </form>
{% endblock %}