<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Your review</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'reviews/styles.css'%}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/" method="POST">
            {% csrf_token %}
            {% comment %} {% if has_error %}
                <p>The form has errors.</p>
            {% endif %}
            <label for="username">Your name</label>
            <input id="username" name="user_name" type="text"> {% endcomment %}
            
            <!-- We can generate the form fields individually too. For ex: -->
            {% for field in form %}
                <div class="form-control {% if field.errors %} invalid {% endif %}">
                    <!--  Here we add a new class to div in case of errors -->
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                </div> 
            {% endfor %}
            
            <!-- or just send the form completely {{form}}-->
            <button>Send</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>